.card_wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.card_container{
    padding: 20px 15px;
    border: none !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

@media (min-width: 850px) { /* Large screen */
    .card_container{
        width: 30%;
    }
}

@media (min-width: 700px) and (max-width: 849px){
    .card_container{
        width: 50%;
    }
}
@media (max-width: 699px) { /* small screen */
    .card_container{
        width: 100%;
    }
}