.modal_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.modal_container{
    padding: 20px 15px;
    border: none !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}