.card_wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.card_container{
    padding: 20px 15px;
    border: none !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.form_label{
    font-weight: 500;
}

@media (min-width: 800px) { /* Large screen */
    .card_container{
        width: 50%;
    }
}

@media (max-width: 799px) { /* small screen */
    .card_container{
        width: 100%;
    }
}